<article>
  <div class="img-fluid float-start me-3">
    {{ content.field_gorselalan }}
  </div>
  <div>{{ language }}
    <div class="text-start w-100 mb-3">{{ content.field_news_date }}</div>
    {{ content.body }}
  </div>

</article>
