{%
  set classes = [
    'front',
  ]
%}
<section{{ attributes.addClass(classes) }}>
<div class="row g-0">
  <div class="fbox col-md bg-s2">
    <div class="container">
{{  drupal_entity('block', 'podcastbanner', check_access=false) }}</div>
  </div>
  <div class="fbox col-md bg-0">
    <div class="container">{{  drupal_entity('block', 'sessizkalmaraportanitimi', check_access=false) }}</div>
  </div>
</div>
</section>
