<section class="duyulmasi-gereken">
  <div class="kayan-bg-container">
      <div class="kayan-bg">
      </div>
    </div>
  <div class="banner-meta text-center">
  {% block content %}
   {{ content }}
  {% endblock %}
  </div>
</section>
