<footer>
  <div id="foot-nav" class="">
    <div id="footer-sign" class="mx-auto me-4 w-100 text-center">
      <span><img src="{{ base_path ~ directory }}/img/logo-light.svg" class="img-fluid"/></span>
    </div>

    <div class="text-center mt-4">
          <span>&copy 2022 Her Hakkı Saklıdır</span>
    </div>
  </div>
</footer>
