{% include '@hrds/layout/header.html.twig' %}
{{ page.title_area }}
<main role="main" class="container">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="row g-0">
      {% if page.sidebar %}
        <div class="col-12 col-md-6 offset-md-1">
      {% else %}
        <div class="col-12 mx-auto">
      {% endif %}
        {{ page.content }}
      </div>
      {% if page.sidebar %}
      <div class="col-12 col-md-3 offset-md-1">
        {{ page.sidebar }}
      </div>
      {% endif %}
    </div>
</main>
{% if page.additional %}
    {{ page.additional }}
{% endif %}
{% include '@hrds/layout/footer.html.twig' %}
