{% include '@hrds/layout/header.html.twig' %}
<div class="container">
    <div id="block-pagetitle">
      <div class="col-12 col-md-6 mx-auto text-center">
        <h1 class="index-title">{{ page.title_area }}
        </h1>
      </div>
    </div>
</div>
<main role="main" class="container">
  <a id="main-content" tabindex="-1"></a>
  <div class="row my-5">
      <div class="col-12 col-md-9 mx-auto">
      {{ drupal_region('defenders') }}
      </div>
  </div>
</main>
{% if page.additional %}
    {{ page.additional }}
{% endif %}
{% include '@hrds/layout/footer.html.twig' %}
